html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;

  .main__filters {
    padding: 24px;
    width: 250px;
    background: #efefef;
  }

  .main__content {
    width: 100%;
    padding: 24px;
  }
}

